*.js linguist-language=JavaScript
static/* linguist-vendored
jquery.js linguist-vendored=false
*.css linguist-language=JavaScript
static/* linguist-vendored
jquery.js linguist-vendored=false
*.scss linguist-language=JavaScript
static/* linguist-vendored
jquery.js linguist-vendored=false
*.html linguist-language=JavaScript
static/* linguist-vendored
jquery.js linguist-vendored=false
*.py linguist-language=JavaScript
auth/* linguist-vendored
jquery.js linguist-vendored=false

